.prd {
    float: left;
    background-color: #ADCDFE;
    margin: 0 0px 10px 0px;
    padding: 2px;
    width: 25%;
    color: #094A6F;
    border-radius: 5px;
}

.alrtx {
    padding: 0px;
}

.image {
    width: 400px;
    height: 400px;
}

.singlePage {
    margin-top: 60px;
}